@model IEnumerable<Final.Models.Stock>

@{
    ViewBag.Title = "Facturaciones";
}

<h2>Consulta de clientes por Nombre y Categoria</h2>
@Html.ActionLink("Impresion", "ImprimirFacturaciones")
@using (Html.BeginForm("Facturaciones", "Consulta", FormMethod.Get))
{
    @Html.TextBox("searching")
    <input Type="submit" value="submit" />
}

<table>
    <tr>
        <th> Nombre </th>
        <th> Cliente </th>
        <th> Fecha </th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td> @Html.DisplayFor(modelItem => item.Nombre)</td>
    <td> @Html.DisplayFor(modelItem => item.Proveedor)</td>
    <td> @Html.DisplayFor(modelItem => item.Fecha)</td>
</tr>
    }

</table>